
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}


/*  GRID OF ONE   ============================================================================= */
.span_1_of_1 {
	width: 100%;
	margin-bottom: 24px;
}

/*  GRID OF TWO   ============================================================================= */
.span_1_of_2 {
	width: 47.2%;
	margin-bottom: 24px;
}

/*  GRID OF THREE   ============================================================================= */
.span_1_of_3 {
	width: 31.2%; 
	margin-bottom: 24px;
}

/*  GRID OF FOUR   ============================================================================= */

.span_1_of_4 {
	width: 22.8%; 
	margin-bottom: 24px;
}

/*  GRID OF FIVE   ============================================================================= */
.span_1_of_5 {
  	width: 17.72%;
	margin-bottom: 24px;
}

/*  GRID OF SIX   ============================================================================= */
.span_1_of_6 {
  	width: 14.33%;
	margin-bottom: 24px;
}

/*  GRID OF SEVEN   ============================================================================= */
.span_1_of_7 {
  	width: 11.91%;
	margin-bottom: 24px;
}

/*  GRID OF EIGHT   ============================================================================= */
.span_1_of_8 {
	width: 10.1%; 
	margin-bottom: 24px;
}

/*  GRID OF NINE   ============================================================================= */
.span_1_of_9 {
	width: 8.68%; 
	margin-bottom: 24px;
}

/*  GRID OF TEN   ============================================================================= */
.span_1_of_10 {
	width: 8.06%; 
	margin-bottom: 24px;
}

/*  GRID OF ELEVEN   ============================================================================= */
.span_1_of_11 {
	width: 7.13%; 
	margin-bottom: 24px;
}

/*  GRID OF TWELVE   ============================================================================= */
.span_1_of_12 {
	width: 6.36%; 
	margin-bottom: 24px;
}
