/*  GRID ROW SETUP   ==================================================================== */

.rowGrid {
	display: table;
	margin: 1% 0 1% 1.6%;
}

.rowGrid:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  GRID OF ONE   ============================================================================= */
.spanRow_1_of_1 {
	height: 600px;
}

/*  GRID OF TWO   ============================================================================= */
.spanRow_1_of_2 {
	height: 300px;
}

/*  GRID OF THREE   ============================================================================= */
.spanRow_1_of_3 {
	height: 200px; 
}

/*  GRID OF FOUR   ============================================================================= */
.spanRow_1_of_4 {
	height: 150px; 
}

/*  GRID OF FIVE   ============================================================================= */
.spanRow_1_of_5 {
  	height: 120px;
}

/*  GRID OF SIX   ============================================================================= */
.spanRow_1_of_6 {
  	height:100px;
}

/*  GRID OF SEVEN   ============================================================================= */
.spanRow_1_of_7 {
  	height: 86px;
}

/*  GRID OF EIGHT   ============================================================================= */
.spanRow_1_of_8 {
	height: 75px; 
}

/*  GRID OF NINE   ============================================================================= */
.spanRow_1_of_9 {
	height: 66.6px; 
}

/*  GRID OF TEN   ============================================================================= */
.spanRow_1_of_10 {
	height: 60px; 
}

/*  GRID OF ELEVEN   ============================================================================= */
.spanRow_1_of_11 {
	height: 54.54px; 
}

/*  GRID OF TWELVE   ============================================================================= */
.spanRow_1_of_12 {
	height: 50px; 
}
