
#rowStyle{
	height: 600px; 
	-webkit-column-width: 150px;/*Hur bred är varje kolumn?*/
    -webkit-column-gap: 40px;/*Hur mycket avstånd mellan columner*/
    /*-webkit-column-rule: thin solid blue;*/
	padding: 0;
	margin: 0;
}
#rowStyle:lastChild{
	margin-bottom: 0px;
}

.rowLi{
	margin-bottom: 150px;
}
