.col-settings {
	margin-left: 15px;
	margin-right: 15px;
	width: 30%;
}

.settingsMenu{    
    height: 545px;
    overflow-y: auto;
}

.contentpanel2 {
	height:600px;
	overflow:hidden;
	overflow-y: auto;
	overflow-x: hidden;
    padding: 0;
}


#previewGrid, #preview
{
	border: 1px solid black;
	margin : auto;
	display: block;
	background-color: rgba(217, 217, 217, 0.7);
}

#previewGridDiv {
	position:absolute;
	z-index: 1;
}

#previewClose
{
	float:right;
}


ul
{
	list-style-type: none;
}

input
{
	outline:none;
	border-width:0px;
	border:none;
}

.inputFontSize
{
	border: 1px solid gray; 
	width: 25px;
}

.image-upload > input
{
	display: none;
}

.bgMini 
{
	width: 50px;
	height: 28px;
}

.folderImg 
{
	width: 50px;
	height: 50px;
}

.imageThumb
{
	height: 50px;
	width: 50px;
	border: 2px solid #000;
}

canvas{
  border:1px solid red;
}

.gridButton {
	float:right;
}
.nameField{
	display: table;
	position: relative;
	margin: auto;
}

.nameField2{
	position: relative;
	float: right;
}

.nameField input{
	width:100%;			
}		
.clearName{
	position: absolute;
	right : 5px;
	top: 5px;
}

.folderIcon{
    display: table;
	position: relative;
	margin: auto;
}
.overlap{
    position: absolute;
    right: 10%;
    top: 12px;
}
.overlap2{
    position: absolute;
    left: 15%;
    top: 12px;
}
.overlap3{
    position: absolute;
    left: 15%;
    top: 27px;
}
.overlap4{
    position: absolute;
    right: 10%;
    top: 27px;
}
.overlap1{
    position: absolute;
    right: 25%;
    top: 12px;
}
.overlap21{
    position: absolute;
    left: 30%;
    top: 12px;
}
.overlap31{
    position: absolute;
    left: 30%;
    top: 27px;
}
.overlap41{
    position: absolute;
    right: 25%;
    top: 27px;
}
.deleteNode{
    position: absolute;
    right: 50px;
    top: 30px;
}
.checkBox{
    position: absolute;
    left: 50px;
    top: 30px;
}