<!DOCTYPE html>
<html ng-app="mockApp">
<head>
	<title>ExYoob</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-switch.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/css/lightness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/row.css" media="all">
	<link rel="stylesheet" href="css/col.css" media="all">
	<link rel="stylesheet" href="css/style.css" media="all">
	<style>
		html {
			overflow: hidden;
			position: fixed;
		}
	</style>
</head>
<body id="ng" ng-controller="MasterCtrl">
    <div ng-controller="AppCtrl">




        <!--************************************** LIST VIEW ******************************************************************-->
        <div ng-hide="settings.gridMode">
            <div class="panel panel-default">
                <div class="panel-heading">
					<button class="btn btn-default btn" ng-hide="settings.root" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></button>
					{{settings.dir}}
					<button class="gridButton btn btn-default btn" ng-show="settings.allAllowed" ng-click="changeView()"><span class="glyphicon glyphicon-th-large"></span></button>
                </div>
                <div class="panel-body contentpanel2">
					<div class="moveLeft">
						<div ng-repeat="folder in getFolders(settings.currentFolder) | filter:filterAccess('viewAccess')">
							<input type="image" ng-show="hasAccess(folder, 'syncAccess')" src="img/folderList.png" ng-click="enter(folder)" />
							<input type="image" ng-hide="hasAccess(folder, 'syncAccess')" style="opacity:0.3;" src="img/folderList.png" ng-click="enter(folder)" />
							<span class="fName">
								{{folder.name}}
							</span>
						</div>

						<div ng-repeat="file in getFiles(settings.currentFolder) | filter:filterAccess('viewAccess')">
							<input type="image" ng-show="hasAccess(file, 'syncAccess')" src="img/fileList.png" ng-click="showListPreview(file)" />
							<input type="image" ng-hide="hasAccess(file, 'syncAccess')" style="opacity:0.3;" src="img/fileList.png" ng-click="showListPreview(file)" ´ />
							<span class="fName">
								{{file.name}}
							</span>
						</div>
					</div>
					<div id="moveRight">
						<div id="previewDiv">
							<div ng-show="settings.listPrev">
								<span id="previewClose" class="glyphicon glyphicon-remove-circle" style="font-size:25px;" ng-click="settings.listPrev = false"></span>
								<canvas id="preview"></canvas>
							</div>
						</div>
					</div>
				</div>

            </div>
        </div>
        <!--******************************************************************************************************************-->
        <!--************************************** GRID VIEW *****************************************************************-->
        <div ng-show="settings.gridMode">
            <div class="panel panel-default">
                <div class="panel-heading">
					<button class="btn btn-default btn" ng-hide="settings.root" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></button>
					{{settings.dir}}					
					<button class="gridButton btn btn-default btn" ng-show="settings.allAllowed" ng-click="changeView()"><span class="glyphicon glyphicon-list"></span></button>
					<button class="gridButton btn btn-default btn" ng-hide="isSelectMode" ng-click="selectMode()"><span class="glyphicon glyphicon-ok-circle"></span> Select</button>
					<button class="gridButton btn btn-default btn" ng-show="isSelectMode" ng-click="selectMode()"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
					<button class="gridButton btn btn-default btn" ng-show="isSelectMode && !settings.inFavFolder" ng-click="favorite()" data-toggle="modal" data-target="#addFav"><span class="glyphicon glyphicon-star-empty"></span> Favorite</button>
					<button class="gridButton btn btn-default btn" ng-show="isSelectMode && settings.inFavFolder" ng-click="unFavorite()" data-toggle="modal" data-target="#remFav"><span class="glyphicon glyphicon-remove"></span>Unfavorite</button>
					<button class="gridButton btn btn-default btn" ng-show="isSelectMode" ng-click="share(settings.rootF)" data-toggle="modal" data-target="#shareModal"><span class=" glyphicon glyphicon-share"></span> Share</button>
                </div>
                <div id="resizable">
                    <div class="panel-body text-center contentpanel2" ng-style="settings.bgImage">
                        <div id="previewGridDiv" ng-show="settings.gridPreview">
							<span id="previewClose" class="glyphicon glyphicon-remove-circle" style="font-size:25px;" ng-click="settings.gridPreview = false"></span>
                            <canvas id="previewGrid"></canvas>
                        </div>
                        <!-- ----------------Content Body-------------------------  -->
                        <!-- --------------------COLUMN---------------------------- -->
                        <div ng-show="settings.cols">
                            <!-- Folders -->
							<div ng-class="settings.colStyle" ng-repeat="folder in getFolders(settings.currentFolder) | filter:filterAccess('viewAccess')">
								<div class="folderIcon">
									<input type="image" ng-show="hasAccess(folder, 'syncAccess')" ng-src="{{folder.img}}" ng-click="enter(folder)" />
									<input type="image" ng-hide="hasAccess(folder, 'syncAccess')" style="opacity:0.3;" ng-src="{{folder.img}}" ng-click="sync(folder)" />
									<input type="checkbox" ng-show="isSelectMode" ng-model="folder.checked" class="checkBox" />
								</div>
								<div ng-show="settings.showFont" ng-style="settings.font"><div class="fName">{{folder.name}}</div></div>

							</div>
                            <!-- Files -->
							<div ng-class="settings.colStyle" ng-repeat="file in getFiles(settings.currentFolder) | filter:filterAccess('viewAccess')">
								<div class="folderIcon">
									<input type="image" ng-click="showGridPreview(file)" class="imageThumb" ng-src="{{file.thumb}}" ng-show="settings.showThumb && file.isImg && hasAccess(file, 'syncAccess')" />
									<input type="image" ng-click="showGridPreview(file)" ng-src="{{file.img}}" ng-hide="settings.showThumb && file.isImg || !hasAccess(file, 'syncAccess')" />
									<input type="image" style="opacity:0.3;" ng-click="sync(file)" class="imageThumb" ng-src="{{file.thumb}}" ng-show="settings.showThumb && file.isImg && !hasAccess(file, 'syncAccess')" />
									<input type="image" style="opacity:0.3;" ng-click="sync(file)" ng-src="{{file.img}}" ng-hide="hasAccess(file, 'syncAccess')" />
									<input type="checkbox" ng-show="isSelectMode" ng-model="file.checked" class="checkBox" />
								</div>
								<div ng-show="settings.showFont" ng-style="settings.font"><div class="fName">{{file.name}}</div></div>
							</div>
                        </div>
                        <!-- --------------------ROW---------------------------- -->
                        <div ng-hide="settings.cols">
                            <ul id="rowStyle">
                                <!-- Folders -->
								<div ng-repeat="folder in getFolders(settings.currentFolder) | filter:filterAccess('viewAccess')">
									<li ng-class="settings.rowStyleLi">
										<input type="image" ng-show="hasAccess(folder, 'syncAccess')" ng-src="{{folder.img}}" ng-click="enter(folder)" />
										<input type="image" ng-hide="hasAccess(folder, 'syncAccess')" style="opacity:0.3;" ng-src="{{folder.img}}" ng-click="sync(folder)" />
										<input type="checkbox" ng-show="isSelectMode" ng-model="folder.checked" class="checkBox" />
										<div ng-show="settings.showFont" ng-style="settings.font"><div class="fName">{{folder.name}}</div></div>
									</li>
								</div>
                                <!-- Files -->
								<div ng-repeat="file in getFiles(settings.currentFolder) | filter:filterAccess('viewAccess')">
									<li ng-class="settings.rowStyleLi">
										<input type="image" ng-click="showGridPreview(file)" class="imageThumb" ng-src="{{file.thumb}}" ng-show="settings.showThumb && file.isImg && hasAccess(file, 'syncAccess')" />
										<input type="image" ng-click="showGridPreview(file)" ng-src="{{file.img}}" ng-hide="settings.showThumb && file.isImg || !hasAccess(file, 'syncAccess')" />
										<input type="image" style="opacity:0.3;" ng-click="sync(file)" class="imageThumb" ng-src="{{file.thumb}}" ng-show="settings.showThumb && file.isImg && !hasAccess(file, 'syncAccess')" />
										<input type="image" style="opacity:0.3;" ng-click="sync(file)" ng-src="{{file.img}}" ng-hide="settings.showThumb && file.isImg || hasAccess(file, 'syncAccess')" />
										<input type="checkbox" ng-show="isSelectMode" ng-model="file.checked" class="checkBox" />
										<div ng-show="settings.showFont" ng-style="settings.font"><div class="fName">{{file.name}}</div></div>
									</li>
								</div>

                        </div>
                        </ul>

                        <!-- ---------------------------------------------------- --->
                    </div>
                </div>
            </div>
        </div>


		<!------------ MODAL -------------------------->
		<div class="modal" id="addFav">
			<div class="modal-dialog modal-sm">
				<div class="modal-content text-center">
					<div class="modal-body">
						<p>Added files to favorites</p>
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">OK</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="remFav">
			<div class="modal-dialog modal-sm">
				<div class="modal-content text-center">
					<div class="modal-body">
						<p>Removed files from favorites</p>
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">OK</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="shareModal">
			<div class="modal-dialog modal-sm">
				<div class="modal-content text-center">
					<div class="modal-body">
						<p>Shared files</p>
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">OK</button>
					</div>
				</div>
			</div>
		</div>



        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type='text/javascript' src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js"></script>
        <script src="js/node.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/jquery.ui.touch-punch.js"></script>
        <script src="js/mockApp.js"></script>
        <script src="js/appCtrl.js"></script>
        <script src="js/bootstrap-switch.js"></script>
        </div>
	
</body>
</html>