<!DOCTYPE html>
<html ng-app="mockApp">
<head>
	<title>ExYoob</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-switch.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/css/lightness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/row.css" media="all">
	<link rel="stylesheet" href="css/col.css" media="all">
	<link rel="stylesheet" href="css/style.css" media="all">
	<style>
		html{
			overflow:hidden;
		}
	</style>
</head>
<body id="ng" ng-controller="MasterCtrl">
    <div ng-controller="CompCtrl">




        <!--************************************** LIST VIEW ******************************************************************-->
        <div ng-hide="settings.gridMode">
            <div class="panel panel-default">
                <div class="panel-heading">
					<button class="btn btn-default btn-xs" ng-hide="settings.root" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    {{settings.dir}}
					<button class="gridButton btn btn-default btn-xs" ng-show="settings.allAllowed" ng-click="changeView()"><span class="glyphicon glyphicon-th-large"></span></button>
                </div>
                <div class="panel-body contentpanel2">
                    <div class="col-md-4">
						<div ng-repeat="folder in getFolders(settings.currentFolder) | filter:filterAccess('viewAccess')">
							<input type="image" ng-show="hasAccess(folder, 'syncAccess')" src="img/folderList.png" ng-click="enter(folder)">
							<input type="image" ng-hide="hasAccess(folder, 'syncAccess')" style="opacity:0.3;" src="img/folderList.png" ng-click="enter(folder)">
							{{folder.name}}
							</input>
						</div>
						<div ng-repeat="file in getFiles(settings.currentFolder) | filter:filterAccess('viewAccess')">
							<input type="image" ng-show="hasAccess(file, 'syncAccess')" src="img/fileList.png" ng-click="showListPreview(file)">
							<input type="image" ng-hide="hasAccess(file, 'syncAccess')" style="opacity:0.3;" src="img/fileList.png" ng-click="showListPreview(file)">
							{{file.name}}
							</input>
						</div>

                    </div>
                    <div class="col-md-8" id="previewDiv">
						<div ng-show="settings.listPrev">
							<span id="previewClose" class="glyphicon glyphicon-remove-circle" ng-click="settings.listPrev = false"></span>
							<canvas id="preview"></canvas>
						</div>
                    </div>
                </div>

            </div>
        </div>
        <!--******************************************************************************************************************-->
        <!--************************************** GRID VIEW *****************************************************************-->
        <div ng-show="settings.gridMode">
            <div class="panel panel-default">
                <div class="panel-heading">
					<button class="btn btn-default btn-xs" ng-hide="settings.root" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    {{settings.dir}}					
					<button class="gridButton btn btn-default btn-xs" ng-show="settings.allAllowed" ng-click="changeView()"><span class="glyphicon glyphicon-list"></span></button>
					<button class="gridButton btn btn-default btn-xs" ng-hide="isSelectMode" ng-click="selectMode()"><span class="glyphicon glyphicon-ok-circle">Select</span></button>
					<button class="gridButton btn btn-default btn-xs" ng-show="isSelectMode" ng-click="selectMode()"><span class=" glyphicon glyphicon-ban-circle">Cancel</span></button>
					<button class="gridButton btn btn-default btn-xs" ng-show="isSelectMode" ng-click="share(settings.rootF)"><span class=" glyphicon glyphicon-share">Share</span></button>
                </div>
                <div id="resizable">
                    <div class="panel-body text-center contentpanel2" ng-style="settings.bgImage">
                        <div id="previewGridDiv" ng-show="settings.gridPreview">
							<span id="previewClose" class="glyphicon glyphicon-remove-circle" ng-click="settings.gridPreview = false"></span>
                            <canvas id="previewGrid"></canvas>
                        </div>
                        <!-- ----------------Content Body-------------------------  -->
                        <!-- --------------------COLUMN---------------------------- -->
                        <div ng-show="settings.cols">
                            <!-- Folders -->
							<div ng-class="settings.colStyle" ng-repeat="folder in getFolders(settings.currentFolder) | filter:filterAccess('viewAccess')">
								<div class="folderIcon">
									<input type="image" ng-show="hasAccess(folder, 'syncAccess')" ng-src="{{folder.img}}" ng-click="enter(folder)" />
									<input type="image" ng-hide="hasAccess(folder, 'syncAccess')" style="opacity:0.3;" ng-src="{{folder.img}}" ng-click="sync(folder)" />
									<input type="checkbox" ng-show="isSelectMode" ng-model="folder.checked" class="checkBox" />
								</div>
								<div ng-show="settings.showFont" ng-style="settings.font">{{folder.name}}</div>
								
							</div>
                            <!-- Files -->
                            <div ng-class="settings.colStyle" ng-repeat="file in getFiles(settings.currentFolder) | filter:filterAccess('viewAccess')">
								<div class="folderIcon">
									<input type="image" ng-click="showGridPreview(file)" class="imageThumb" ng-src="{{file.thumb}}" ng-show="settings.showThumb && file.isImg && hasAccess(file, 'syncAccess')" />
									<input type="image" ng-click="showGridPreview(file)" ng-src="{{file.img}}" ng-hide="settings.showThumb && file.isImg || !hasAccess(file, 'syncAccess')" />
									<!--<input type="image" style="opacity:0.3;" ng-click="sync(file)" class="imageThumb" ng-src="{{file.thumb}}" ng-show="settings.showThumb && file.isImg && !hasAccess(file, 'syncAccess')" />-->
									<input type="image" style="opacity:0.3;" ng-click="sync(file)" ng-src="{{file.img}}" ng-hide="hasAccess(file, 'syncAccess')" />
									<input type="checkbox" ng-show="isSelectMode" ng-model="file.checked" class="checkBox" />
								</div>
                                <div ng-show="settings.showFont" ng-style="settings.font">{{file.name}}</div>
                            </div>
                        </div>
                        <!-- --------------------ROW---------------------------- -->
                        <div ng-hide="settings.cols">
                            <ul id="rowStyle">
                                <!-- Folders -->
								<div ng-repeat="folder in getFolders(settings.currentFolder) | filter:filterAccess('viewAccess')">
									<li ng-class="settings.rowStyleLi">
										<input type="image" ng-show="hasAccess(folder, 'syncAccess')" ng-src="{{folder.img}}" ng-click="enter(folder)" />
										<input type="image" ng-hide="hasAccess(folder, 'syncAccess')" style="opacity:0.3;" ng-src="{{folder.img}}" ng-click="sync(folder)" />
										<input type="checkbox" ng-show="isSelectMode" ng-model="folder.checked" class="checkBox" />
										<div ng-show="settings.showFont" ng-style="settings.font">{{folder.name}}</div>
									</li>
								</div>
                                <!-- Files -->
								<div ng-repeat="file in getFiles(settings.currentFolder) | filter:filterAccess('viewAccess')">
									<li ng-class="settings.rowStyleLi">
										<input type="image" ng-click="showGridPreview(file)" class="imageThumb" ng-src="{{file.thumb}}" ng-show="settings.showThumb && file.isImg && hasAccess(file, 'syncAccess')" />
										<input type="image" ng-click="showGridPreview(file)" ng-src="{{file.img}}" ng-hide="settings.showThumb && file.isImg || !hasAccess(file, 'syncAccess')" />
										<input type="image" style="opacity:0.3;" ng-click="sync(file)" class="imageThumb" ng-src="{{file.thumb}}" ng-show="settings.showThumb && file.isImg && !hasAccess(file, 'syncAccess')" />
										<input type="image" style="opacity:0.3;" ng-click="sync(file)" ng-src="{{file.img}}" ng-hide="settings.showThumb && file.isImg || hasAccess(file, 'syncAccess')" />
										<input type="checkbox" ng-show="isSelectMode" ng-model="file.checked" class="checkBox" />
										<div ng-show="settings.showFont" ng-style="settings.font">{{file.name}}</div>
									</li>
								</div>

                        </div>
                        </ul>

                        <!-- ---------------------------------------------------- --->
                    </div>
                </div>
            </div>
        </div>



        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type='text/javascript' src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js"></script>
        <script src="js/node.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/jquery.ui.touch-punch.js"></script>
        <script src="js/mockApp.js"></script>
        <script src="js/appCtrl.js"></script>
        <script src="js/bootstrap-switch.js"></script>
        </div>
</body>
</html>