<!DOCTYPE html>
<html ng-app="mockApp">
<head>
	<title>ExYoob</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-switch.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/css/lightness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/row.css" media="all">
	<link rel="stylesheet" href="css/col.css" media="all">
	<link rel="stylesheet" href="css/style.css" media="all">
	<style>
		html {
			overflow: -moz-scrollbars-vertical; 
			overflow-y: scroll;
		}

		#fName {
			text-overflow:ellipsis;
		}
		
		.fName {
			overflow: hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
			width:100px;
			display:inline-block;
		}
		
		.divfName
		{
			white-space:nowrap; 
			width:12em; 
			overflow:hidden;
			text-overflow:ellipsis;
		}
		
		.listfName
		{
			white-space:nowrap; 
			width:12em; 
			overflow:hidden;
			text-overflow:ellipsis;
		}
		
		.divfNameRow
		{
			width:15em; 
			text-overflow:ellipsis;
		}
		
		.divfNameList
		{
			white-space:nowrap; 
			width:17em; 
			overflow:hidden;
			text-overflow:ellipsis;
		}
		
		.listFolder
		{
			margin-top: 10px;
		}
		
		.leftFPic
		{
			margin-left: 14px;
			margin-right: 14px;
			float: left;
		}
		
	</style>
</head>
<body id="ng" ng-controller="MasterCtrl">
    <div id="studio" ng-controller="FirstController">
        <div class="container">

			<h1>Create your component</h1>

            <div class="row">

                <!--************************************** LIST VIEW ******************************************************************-->
                <div class="col-md-8" ng-hide="settings.gridMode">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							<button class="btn btn-default btn-xs" ng-hide="settings.root" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            {{settings.dir}}
							<button class="gridButton btn btn-default btn-xs" ng-show="settings.allAllowed" ng-click="changeView()"><span class="glyphicon glyphicon-th-large"></span></button>
                        </div>
                        <div class="panel-body contentpanel2">
                            <div class="col-md-4">
								<!-- ******** Folders ******** -->
                                <div class="listFolder" ng-hide="settings.notAdded" ng-repeat="folder in getFolders(settings.currentFolder)">
									<!-- View Mode -->
									<div ng-show="!settings.editing">
										<!-- Folder picture -->
										<div class="leftFPic">
											<input type="image" src="img/folderList.png" ng-click="enter(folder)"/>
										</div>
										<!-- Folder name -->
										<span class="fName">{{folder.name}}</span>
									</div>
									<!-- Edit mode -->
									<div ng-show="settings.editing">
										<!-- Delete folder button -->
										<span class="glyphicon glyphicon-remove-circle" ng-show="settings.editing" ng-click="deleteFolder(folder)"></span>
										<!-- Folder picture-->
										<input type="image" src="img/folderList.png" ng-click="enter(folder)"/>
										<div class="nameField2">
											<input type="text" id="{{'folder-'+$index}}" ng-model="folder.name" style="border: 1px solid" />
											<img class="clearName" src="img/cleaar.png" ng-click='clearName($index, folder)' />
										</div>
									</div>
									<!-- --------- -->
                                </div>
								<!-- ************************* -->
								
								<!-- ******** Files ******** -->
                                <div class="listFolder" ng-hide="settings.notAdded" ng-repeat="file in getFiles(settings.currentFolder)">
									<!-- View Mode -->
									<div ng-show="!settings.editing">
										<!-- File picture -->
										<div class="leftFPic">
											<input type="image" src="img/fileList.png" ng-click="showListPreview(file)"/>
										</div>
										<!-- File name -->
										<span class="fName">{{file.name}}</span>
									</div>
									<!-- Edit mode -->
									<div ng-show="settings.editing">
										<!-- Delete file button -->
										<span class="glyphicon glyphicon-remove-circle" ng-show="settings.editing" ng-click="deleteFile(file)"></span>
										<!-- File icon -->
										<input type="image" src="img/fileList.png" ng-click="showListPreview(file)"/>
										<!-- Edit file name -->
										<div class="nameField2">
											<input id="fName" type="text" id="{{'file-'+$index}}" ng-model="file.name" style="border: 1px solid"/>
											<img class="clearName" src="img/cleaar.png" ng-click='clearName($index, folder)'/>
										</div>
									</div>
                                </div>
								<!-- ************************ -->
								
                                <input data-toggle="modal" data-target="#addFiles" type="image" src="img/bw_add_minimini.png" ng-hide="settings.notAdded" />
                            </div>
                            <div class="col-md-8" id="moveRight">
								<div ng-show="settings.listPrev">
									<span id="previewClose" class="glyphicon glyphicon-remove-circle" ng-click="settings.listPrev = false"></span>
									<canvas id="preview"></canvas>
								</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--******************************************************************************************************************-->
                <!--************************************** GRID VIEW *****************************************************************-->
                <div class="col-md-8" ng-show="settings.gridMode">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button class="btn btn-default btn-xs" ng-hide="settings.root" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            {{settings.dir}}
                            <button class="gridButton btn btn-default btn-xs" ng-show="settings.allAllowed" ng-click="changeView()"><span class="glyphicon glyphicon-list"></span></button>
							<button class="gridButton btn btn-default btn-xs" ng-hide="settings.noCheck" ng-click="deselect()">Deselect all</button>
                        </div>
                        <div id="resizable">
                            <div class="panel-body text-center contentpanel2" ng-style="settings.bgImage">
                                <div id="previewGridDiv" ng-show="settings.gridPreview">
                                    <!--<input id="previewClose" type="image" src="img/cleaar.png" ng-click="settings.gridPreview = false" />-->
                                    <span id="previewClose" class="glyphicon glyphicon-remove-circle" ng-click="settings.gridPreview = false"></span>
                                    <canvas id="previewGrid"></canvas>
                                </div>
                                <!-- ----------------Content Body-------------------------  -->
                                <input data-toggle="modal" data-target="#addFiles" type="image" src="img/bw_add.png" ng-show="settings.notAdded" />
                                <!-- --------------------COLUMN---------------------------- -->
                                <div ng-show="settings.cols">
                                    <!-- ******** Folders ******** -->
                                    <div ng-class="settings.colStyle" ng-hide="settings.notAdded" ng-repeat="folder in getFolders(settings.currentFolder)">
										<!-- Edit folder name -->
                                        <div class="folderIcon">
                                            <span class="deleteNode"><span class="glyphicon glyphicon-remove-circle" ng-show="settings.editing" ng-click="deleteFolder(folder)"></span></span>

                                            <input type="image" class="folderImg" ng-src="{{folder.img}}" ng-click="enter(folder)" />
                                            <span class="glyphicon glyphicon-eye-open overlap" ng-show="hasAccess(folder,'viewAccess')"></span>
                                            <span class="glyphicon glyphicon-share overlap2" ng-show="hasAccess(folder,'shareAccess')"></span>
                                            <span class="glyphicon glyphicon-move overlap3" ng-show="hasAccess(folder,'moveAccess')"></span>
                                            <span class="glyphicon glyphicon-download overlap4" ng-show="hasAccess(folder,'syncAccess')"></span>

                                            <input type="checkbox" ng-show="settings.editing" ng-model="folder.checked" ng-change="folderCheck()" class="checkBox" />
                                        </div>
                                        <div ng-show="settings.showFont && !settings.editing" ng-style="settings.font"><div class="fName">{{folder.name}}</div></div>
                                        <div ng-show="settings.showFont && settings.editing" class="nameField">
                                            <input type="text" id="{{'folder-'+$index}}" ng-model="folder.name" ng-style="settings.font" style="background: rgba(5, 5, 5, .2);" />
                                            <!-- <img class="clearName" src="img/cleaar.png" ng-click='clearName($index, folder)' /> -->
											<span class="clearName glyphicon glyphicon-remove-circle" ng-click='clearName($index,folder)'/>
                                        </div>
                                    </div>
									<!-- ************************* -->
									
                                    <!-- Files -->
                                    <div ng-class="settings.colStyle" ng-hide="settings.notAdded" ng-repeat="file in getFiles(settings.currentFolder)">
                                        <div class="folderIcon">
                                            <span class="deleteNode"><span class="glyphicon glyphicon-remove-circle" ng-show="settings.editing" ng-click="deleteFile(file)"></span></span>

                                            <input type="image" ng-click="showGridPreview(file)" class="imageThumb" ng-src="{{file.thumb}}" ng-show="settings.showThumb && file.isImg" />
                                            <input type="image" ng-click="showGridPreview(file)" class="folderImg" ng-src="{{file.img}}" ng-hide="settings.showThumb && file.isImg" />

                                            <span class="glyphicon glyphicon-eye-open overlap" ng-show="hasAccess(file,'viewAccess')"></span>
                                            <span class="glyphicon glyphicon-share overlap2" ng-show="hasAccess(file,'shareAccess')"></span>
                                            <span class="glyphicon glyphicon-move overlap3" ng-show="hasAccess(file,'moveAccess')"></span>
                                            <span class="glyphicon glyphicon-download overlap4" ng-show="hasAccess(file,'syncAccess')"></span>

                                            <input type="checkbox" ng-show="settings.editing" ng-model="file.checked" ng-change="fileCheck()" class="checkBox"/>
                                        </div>
                                            <div ng-show="settings.showFont && !settings.editing" ng-style="settings.font"><div class="fName">{{file.name}}</div></div>
                                        <div ng-show="settings.showFont && settings.editing" class="nameField">
                                            <input id="fName" type="text" id="{{'file-'+$index}}" ng-model="file.name" ng-style="settings.font" style="background: rgba(5, 5, 5, .2);"/>
                                            <img class="clearName" src="img/cleaar.png" ng-click='clearName($index, file)' />
                                        </div>
                                    </div>
                                    <div ng-class="settings.colStyle">
                                        <input data-toggle="modal" data-target="#addFiles" type="image" src="img/bw_add_minimini.png" ng-hide="settings.notAdded" id="dnd" />
                                    </div>
                                </div>
                                <!-- --------------------ROW---------------------------- -->
                                <div ng-hide="settings.cols">
                                    <ul id="rowStyle">
                                        <!-- Folders -->
                                        <div ng-hide="settings.notAdded" ng-repeat="folder in getFolders(settings.currentFolder)">
                                            <li ng-class="settings.rowStyleLi">
												<div class="folderIcon">
													<span class="glyphicon glyphicon-remove-circle" ng-show="settings.editing" ng-click="deleteFolder(folder)"></span>
													<input type="image" class="folderImg" ng-src="{{folder.img}}" ng-click="enter(folder)" />
													<span class="glyphicon glyphicon-eye-open overlap1" ng-show="hasAccess(folder,'viewAccess')"></span>
													<span class="glyphicon glyphicon-share overlap21" ng-show="hasAccess(folder,'shareAccess')"></span>
													<span class="glyphicon glyphicon-move overlap31" ng-show="hasAccess(folder,'moveAccess')"></span>
													<span class="glyphicon glyphicon-download overlap41" ng-show="hasAccess(folder,'syncAccess')"></span>
													
													<input type="checkbox" ng-show="settings.editing" ng-model="folder.checked" ng-change="folderCheck()" />
												</div>
                                                <div ng-show="settings.showFont && !settings.editing" ng-style="settings.font"><div class="fName">{{folder.name}}</div></div>
                                                <div ng-show="settings.showFont && settings.editing" class="nameField">
                                                    <input type="text" id="{{'folder-'+$index}}" ng-model="folder.name" ng-style="settings.font" style="background: rgba(5, 5, 5, .2);" />
                                                    <img class="clearName" src="img/cleaar.png" ng-click='clearName($index, folder)' />
                                                </div>
                                            </li>
                                        </div>
                                        <!-- Files -->
                                        <div ng-hide="settings.notAdded" ng-repeat="file in getFiles(settings.currentFolder)">
                                            <li ng-class="settings.rowStyleLi">
												<div class="folderIcon">
													<span class="glyphicon glyphicon-remove-circle" ng-show="settings.editing" ng-click="deleteFile(file)"></span>
													<input type="image" ng-click="showGridPreview(file)" class="imageThumb" ng-src="{{file.thumb}}" ng-show="settings.showThumb && file.isImg" />
													<input type="image" ng-click="showGridPreview(file)" class="folderImg" ng-src="{{file.img}}" ng-hide="settings.showThumb && file.isImg" />
													<span class="glyphicon glyphicon-eye-open overlap1" ng-show="hasAccess(file,'viewAccess')"></span>
													<span class="glyphicon glyphicon-share overlap21" ng-show="hasAccess(file,'shareAccess')"></span>
													<span class="glyphicon glyphicon-move overlap31" ng-show="hasAccess(file,'moveAccess')"></span>
													<span class="glyphicon glyphicon-download overlap41" ng-show="hasAccess(file,'syncAccess')"></span>
													
													<input type="checkbox" ng-show="settings.editing" ng-model="file.checked" ng-change="fileCheck()"/>
												</div>
												<div ng-show="settings.showFont && !settings.editing" ng-style="settings.font"><div class="fName">{{file.name}}</div></div>
												<div ng-show="settings.showFont && settings.editing" class="nameField">
													<input type="text" id="{{'file-'+$index}}" ng-model="file.name" ng-style="settings.font" style="background: rgba(5, 5, 5, .2);" />
													<img class="clearName" src="img/cleaar.png" ng-click='clearName($index, file)' />
												</div>
											</li>
                                        </div>

                                        <div>
                                            <li ng-class="settings.rowStyleLi">
                                                <input data-toggle="modal" data-target="#addFiles" type="image" src="img/bw_add_minimini.png" ng-hide="settings.notAdded" id="dnd" />
                                            </li>
                                        </div>
                                </div>
                                </ul>

                                <!-- ---------------------------------------------------- --->
                            </div>
                        </div>
                    </div>
                </div>
                <!--*********************************************************************************************************-->
                <!--************************************** SETTINGS PANEL *****************************************************************-->
                <div class="col-md-4 col-settings">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Settings
                        </div>
                        <!-- Settings body-->
                        <div class="panel-body settingsMenu" ng-show="settings.editing">
                            <!-- Standard Settings -->
                            <div class="firstSetting" ng-hide="subMenuOpen()">
                                <div class="toggle">
									Scrolling:
									<div class="right">
										<input type="checkbox" name="scrollingBox" id="scrollingBox" data-on-color="default" data-off-color="default" data-on-text="<span>ROW</span>" data-off-text="<span>COL</span>">
									</div>
								</div>
								<p class="menuItem">
                                    Views allowed: {{settings.viewsAllowed}} <button class="btn btn-default btn-sm right"  ng-click="viewMenu()"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                </p>
                                <p ng-hide="settings.cols">
                                    Number of rows:
									<button type="button" class="btn btn-default right" ng-click="changeRow(1)">+</button>
									
									<span class="right textmarg">{{settings.nrOfRows}}</span>
									
                                    <button type="button" class="btn btn-default right" ng-click="changeRow(-1)">-</button>
                                </p>
                                <p ng-show="settings.cols">
                                    Number of cols:
									<button type="button" class="btn btn-default right" ng-click="changeCol(1)">+</button>

                                    <span class="right textmarg">{{settings.nrOfCols}}</span>

                                    <button type="button" class="btn btn-default right" ng-click="changeCol(-1)">-</button>
                                </p>
								
                                <hr>
                                Change background: <input type="image" class="bgMini right" ng-src="{{settings.bgMini}}" ng-click="bgMenu()"/>
                                <hr>
                                <div class="folderSettings">
                                    <p>
                                        Add folder
										<button type="button" class="btn btn-default right" ng-click="addFolders()">+</button>
                                    </p>
									<hr>
									<div class="toggle">
                                        Show Thumbnails:
										<div class="right">
											<input type="checkbox" name="showThumb" id="showThumb" data-on-color="default" data-off-color="default">
										</div>
									</div>
									<div class="toggle">
                                        Show Folder names:
										<div class="right">
											<input type="checkbox" name="showFolderName" id="showFolderName" data-on-color="default" data-off-color="default">
										</div>
									</div>
                                    <!-- FONT SETTINGS -->
                                    <div class="fontSettings" ng-show="settings.showFont">
                                        <strong>Font size:</strong>
										<button type="button" class="btn btn-default right" ng-click="changeFontSize(1)">+</button>
										<span class="right textmarg" ng-click="testing()" ng-show="!fontTextInput">{{settings.fontSize}}</span>
										<input class="inputFontSize right" ng-model="settings.fontSize" type="text" ng-show="fontTextInput" ng-blur="applyFontSize()"></input>
                                        <button type="button" class="btn btn-default right" ng-click="changeFontSize(-1)">-</button>
										
                                        <p id="marg">
                                            <strong>Font:</strong> {{settings.fontText}} <button class="btn btn-default btn-sm right" ng-click="fontMenu()"><span class="glyphicon glyphicon-chevron-right"></span> </button>
                                        </p>

                                        <p id="marg">
                                            <strong>Font Color:</strong> {{settings.fontColor}} <button class="btn btn-default btn-sm right" ng-click="fontColorMenu()"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                        </p>
                                    </div>
                                    <!-- ----------- -->
									<div ng-hide="settings.noCheck">
										<hr>
										<p>
											Folder icon: <input class="right" type="image" src="img/folder.png" ng-click="folderIconMenu()"/>
										</p>

										<p class="menuItem2">
											File icon: <input class="right" type="image" src="img/file.png" ng-click="fileIconMenu()"/>
										</p>
									</div>
                                    <hr>
                                    <div class="permissionSettings" ng-hide="settings.noCheck">
                                        <p> View Access: <button class="btn btn-default btn-sm right" ng-click="openViewAccessMenu()"><span class="glyphicon glyphicon-chevron-right"></span></button></p>
                                        <p> Share Access: <button class="btn btn-default btn-sm right" ng-click="openShareAccessMenu()"><span class="glyphicon glyphicon-chevron-right"></span></button></p>
                                        <p> Move Access: <button class="btn btn-default btn-sm right" ng-click="openMoveAccessMenu()"><span class="glyphicon glyphicon-chevron-right"></span></button></p>
                                        <p> Download Auto: <button class="btn btn-default btn-sm right" ng-click="openSyncAccessMenu()"><span class="glyphicon glyphicon-chevron-right"></span></button></p>
										<hr>
                                    </div>
                                </div>
                            </div>
                            <!-- ----------------------- -->
                            <!----------------- Views allowed ----------------->
                            <div class="viewsAllowed" ng-show="settings.underMenu0">
                                <button ng-click="settings.underMenu0 = false;"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <p>Views allowed</p>
                                <ul>
                                    <li><input type="radio" ng-model="settings.viewsAllowed" ng-change="applyViews()" value="Grid & List"/> Grid & List</li>
                                    <li><input type="radio" ng-model="settings.viewsAllowed" ng-change="applyViews()" value="Grid"/> Grid</li>
                                    <li><input type="radio" ng-model="settings.viewsAllowed" ng-change="applyViews()" value="List"/> List</li>
                                </ul>
                            </div>
                            <!-- ------------------------------------------- -->
                            <!-- Background settings -->
                            <div class="chooseBg" ng-show="settings.underMenu">
                                <button class="btn btn-default btn-xs" ng-click="settings.underMenu = false;"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <p>Change background</p>
                                <ul>
                                    <li><input type="image" src="img/bg_mini.jpg" ng-click="changeBg(1)"/>Standard</li>

                                    <li><input type="image" src="img/bw_sand.jpg" ng-click="changeBg(2)"/>Relaxing Sand</li>

                                    <li><input type="image" src="img/bw_sunset.jpg" ng-click="changeBg(3)"/>Green Sunset</li>

                                    <li><input type="image" src="img/bw_sky.jpg" ng-click="changeBg(4)"/>Amazing Sky</li>
									
									<li><input type="image" src="img/bw_none.jpg" ng-click="changeBg(44)"/>None</li>
									<div class="image-upload">
										<label for="bgFile">
													Upload your own
										</label>
										<input type="file" id="bgFile" name="bgFile[]"/>
									</div>
                                </ul>
                            </div>
                            <!-- --------------------- -->
                            <!-- Folder icon settings -->
                            <div class="chooseFolderIcon" ng-show="settings.underMenu2">
                                <button class="btn btn-default btn-xs" ng-click="settings.underMenu2 = false;"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <p>Folder icon</p>
                                <ul>
                                    <li><input type="image" src="img/folder.png" ng-click="changeFolderIcon(1)"/>Standard</li>
                                    <li><input type="image" src="img/picFolder.png" ng-click="changeFolderIcon(2)"/>Picture Folder</li>
                                    <li><input type="image" src="img/musicFolder.png" ng-click="changeFolderIcon(3)"/>Music Folder</li>
									<div class="image-upload" ng-hide="settings.noCheck">
										<label for="folderIconFile">
													Upload your own
										</label>
										<input type="file" id="folderIconFile" name="folderIconFile[]"/>
									</div>
									<div ng-show="settings.noCheck">
										Upload your own
									</div>
                                </ul>
                            </div>
                            <!-- --------------------- -->
                            <!-- File icon settings -->
                            <div class="chooseFileIcon" ng-show="settings.underMenu5">
                                <button class="btn btn-default btn-xs" ng-click="settings.underMenu5 = false;"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <p>File icon</p>
                                <ul>
                                    <li><input type="image" src="img/file.png" ng-click="changeFileIcon(1)"/>Standard</li>
                                    <li><input type="image" src="img/picFile.png" ng-click="changeFileIcon(2)"/>Picture File</li>
                                    <li><input type="image" src="img/pdfFile.jpg" ng-click="changeFileIcon(3)"/>PDF File</li>
									<div class="image-upload">
										<label for="fileIconImg">
													Upload your own
										</label>
										<input type="file" id="fileIconImg" name="fileIconImg[]"/>
									</div>
                                </ul>
                            </div>
                            <!-- --------------------- -->
                            <!-- Font settings -->
                            <div class="chooseFont" ng-show="settings.underMenu3">
                                <button class="btn btn-default btn-xs" ng-click="settings.underMenu3 = false;"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <p>Choose font:</p>
                                <ul>
                                    <li><input type="radio" ng-model="settings.fontText" ng-change="applyFont()" value="Courier"/> Courier</li>
                                    <li><input type="radio" ng-model="settings.fontText" ng-change="applyFont()" value="Times"/> Times</li>
                                    <li><input type="radio" ng-model="settings.fontText" ng-change="applyFont()" value="Arial"/> Arial</li>
                                </ul>
                            </div>
                            <!-- --------------------- -->
                            <!-- Font color settings -->
                            <div class="chooseFontColor" ng-show="settings.underMenu4">
                                <button class="btn btn-default btn-xs" ng-click="settings.underMenu4 = false;"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <p>Choose font color:</p>
                                <ul>
                                    <li><input type="radio" ng-model="settings.fontColor" ng-change="applyFontColor()" value="black"/> Black</li>
                                    <li><input type="radio" ng-model="settings.fontColor" ng-change="applyFontColor()" value="white"/> White</li>
                                    <li><input type="radio" ng-model="settings.fontColor" ng-change="applyFontColor()" value="red"/> Red</li>
                                </ul>
                            </div>
                            <!-- --------------------- -->
                            <!-- Permissions  -->
                            <div class="setViewAccess" ng-show="settings.underMenuViewAccess">
                                <button class="btn btn-default btn-xs" ng-click="exitAccessMenu()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <h2>View Access</h2>
                                <ul ng-repeat="person in persons">
                                    <li><input type="checkbox" ng-model="person.checked" ng-change="addAccess({event:{checked:person.checked,person:person}}, 'viewAccess')"/>{{person.name}}</li>
                                </ul>
                            </div>
                            <div class="setShareAccess" ng-show="settings.underMenuShareAccess">
                                <button class="btn btn-default btn-xs" ng-click="exitAccessMenu()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <h2>Share Access</h2>
                                <ul ng-repeat="person in persons">
                                    <li><input type="checkbox" ng-model="person.checked" ng-change="addAccess({event:{checked:person.checked,person:person}}, 'shareAccess')" />{{person.name}}</li>
                                </ul>
                            </div>
                            <div class="setMoveAccess" ng-show="settings.underMenuMoveAccess">
                                <button class="btn btn-default btn-xs" ng-click="exitAccessMenu()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <h2>Move Access</h2>
                                <ul ng-repeat="person in persons">
                                    <li><input type="checkbox" ng-model="person.checked" ng-change="addAccess({event:{checked:person.checked,person:person}}, 'moveAccess')" />{{person.name}}</li>
                                </ul>
                            </div>
                            <div class="setSyncAccess" ng-show="settings.underMenuSyncAccess">
                                <button class="btn btn-default btn-xs" ng-click="exitAccessMenu()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <h2>Sync Access</h2>
                                <ul ng-repeat="person in persons">
                                    <li><input type="checkbox" ng-model="person.checked" ng-change="addAccess({event:{checked:person.checked,person:person}}, 'syncAccess')" />{{person.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- ------------------ -->
                        <div class="panel-footer text-center">
                            <button type="button" class="btn btn-default" ng-click="editMode()">{{settings.mode}}</button>
                        </div>
                    </div>
                </div>
                <!--***********************************************************************************************************************-->
                <!--************************************** MODALS *************************************************************************-->
                <!-- First add popup -->
                <div class="modal" id="addFiles">
                    <div class="modal-dialog">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">ADD</h4>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li><input type="image" src="img/addFolder.jpg" data-dismiss="modal" ng-click="addFirstFolder()"/>Add Folders</li>

                                    <li><input type="image" data-toggle="modal" data-target="#addDropbox" src="img/dropbox.jpg" data-dismiss="modal" ng-click="list('/')">Add from Dropbox</li>

                                    <li>
                                        <div class="image-upload">

                                            <label for="files">
                                                <img src="img/computer.png" />
                                            </label>

                                            <input type="file" multiple id="files" name="files[]" ng-click="add()"/> Add from computer

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------------------------------- -->
                <div class="modal" id="addDropbox">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeDB()">×</button>
                                <h4 class="modal-title">ADD FROM DROPBOX</h4>
                            </div>
                            <div class="modal-body">
								<button  class="btn btn-default btn-sm" ng-show="dirArr.length > 1" ng-click="back()"><span class="glyphicon glyphicon-chevron-left"></span></button>
								<h2>{{dir}}</h2>
								<input type="checkbox" ng-checked="allSelected" ng-click="selectAll($event)">Select All</input>
								<ul ng-repeat="dbItem in dbItems">
									<input type="checkbox" ng-checked="isSelected(dbItem)" ng-click="updateSelection($event,dbItem)"/>
									<li ng-show="dbItem.is_dir"><input type="image" src="img/dbFolder.png" ng-click="list(dbItem.path)">{{dbItem.name}}</input></li>
									<li ng-hide="dbItem.is_dir"><input type="image" src="img/file.png">{{dbItem.name}}</input></li>
									</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addDB()">Add files</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ---------------------------- -->
                <!--***********************************************************************************************************************-->
            </div>

        </div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type='text/javascript' src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js"></script>
<script src="js/node.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.ui.touch-punch.js"></script>
<script src="js/mockApp.js"></script>
<script src="js/studioCtrl.js"></script>
<script src="js/bootstrap-switch.js"></script>
        <script src="js/scripts.js"></script>

        <a href='#' onclick="exportToJson()">test</a>
    </div>
<a href='#' onclick="importDBJsonFolder()">import</a>
</body>
</html>