<!DOCTYPE html>
<html ng-app="mockApp">
	<head>
		<title>Columns BS3</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-switch.css">
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/css/lightness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/row.css" media="all">
		<link rel="stylesheet" href="css/col.css" media="all">
		
		<style>
		
		html {
			overflow: -moz-scrollbars-vertical; 
			overflow-y: scroll;
		}
		
		.col-settings {
			margin-left: 15px;
			margin-right: 15px;
			width: 30%;
		}
		
		.btn2 {width:50%;}
		
		.contentpanel {
			background-image: url(img/bg.jpg);
		}
		
		.contentpanel2 {
			height:600px;
			overflow:auto;
		}
		
		.contentpanel3 {
			width:300px;
			overflow:auto;
		}
		
		.listpanel {
			height:570px;
			background-color:#00ff00;
		}
		
		.previewList {
			border:2px solid;
		}
		
		ul
		{
			list-style-type: none;
		}
		
		input
		{
			outline:none;
			border-width:0px;
			border:none;
		}
		
		#input-group-btn
		{
			padding: 0 0 0 0;
		}
		
		#tb_cont {
			position: relative;
			width: auto;
		}
		#clear_input {
			width: 12px;
			height: 12px;
			display: inline-block;
			top: 4px;
			text-align: center;
			font-size: 10px;
			border-radius: 10px;
			-o-border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			cursor: pointer;
		}
		
		.image-upload > input
		{
			display: none;
		}
		
		.imageThumb
		{
			height: 50px;
			width: 50px;
			border: 2px solid #000;
		}
		
		canvas{
		  border:1px solid red;
		}
		
		.gridButton {
			float:right;
		}
		
		</style>
	</head>
	<body id="ng" ng-controller="FirstController">
		<div class="container">
			
			<h1>HTML Mockup med BootStrap</h1>
			
			<div class="row">
				
				<!--************************************** LIST VIEW ******************************************************************-->
				<div class="col-md-8" ng-hide="gridMode">
					<div class="panel panel-default">
						<div class="panel-heading">
							<input type="image" src="img/backSmall.png" ng-hide="root" ng-click="goBack()"/>   {{dir}}
							<input class="gridButton" type="image" src="img/grid.jpg" ng-show="allAllowed" ng-click="changeView()"/>
						</div>
						<div class="panel-body contentpanel2">
							<div class="col-md-4" >
								<div ng-hide="notAdded" ng-repeat="folder in getFolders(currentFolder)">
									<input type="image" src="img/folderList.png" ng-click="enter(folder)">
										{{folder.name}}
									</input>
								</div>
								<div ng-hide="notAdded" ng-repeat="file in getFiles(currentFolder)">
									<input type="image" src="img/fileList.png" ng-click="showListPreview(file)">
										{{file.name}}
									</input>
								</div>
								<input data-toggle="modal" href="#addFiles" type="image" src="img/bw_add_minimini.png" ng-hide="notAdded"/>
							</div>
							<div class="col-md-8" id="previewDiv">
								<canvas class="text-center" id="preview">
								</canvas>
							</div>
						</div>
						
					</div>
				</div>
				<!--******************************************************************************************************************-->
				
				<!--************************************** GRID VIEW *****************************************************************-->
				<div class="col-md-8" ng-show="gridMode">
					<div class="panel panel-default">
						<div class="panel-heading">
							<input type="image" src="img/backSmall.png" ng-hide="root" ng-click="goBack()"/>   {{dir}}
							<input class="gridButton" type="image" src="img/list.png" ng-show="allAllowed" ng-click="changeView()"/>
						</div>
						<div class="panel-body text-center contentpanel2" ng-style="bgImage" id="resizable">
							<!-- ----------------Content Body-------------------------  -->
							<input data-toggle="modal" href="#addFiles" type="image" src="img/bw_add.png" ng-show="notAdded"/>
							<!-- --------------------COLUMN---------------------------- -->
							<div ng-show="cols">
							<div ng-class="colStyle" ng-hide="notAdded" ng-repeat="folder in getFolders(currentFolder)">
								<input type="image" src="img/cleaar.png" ng-click="deleteFolder(folder)" />
								<input type="image" ng-src="{{folder.img}}" ng-click="enter(folder)">
									<input type="checkbox" ng-show="editing" ng-model="folder.checked"/>
									<div ng-show="showFont && !editing" ng-style="font">{{folder.name}}</div>
									<span id="tb_cont" ng-show="showFont && editing">
										<input type="text" id="{{'folder-'+$index}}" name="q" ng-model="folder.name" ng-style="font" style="background: rgba(5, 5, 5, .2);"><span id="clear_input" ng-click='clearName($index, folder)' ><img src="img/cleaar.png"/></span></input>
									</span>
								</input>
							</div>
							<div ng-class="colStyle" ng-hide="notAdded" ng-repeat="file in getFiles(currentFolder)">
								<input type="image" src="img/cleaar.png" ng-click="deleteFile(file)" />
								<input type="image" class="imageThumb" ng-src="{{file.data}}" ng-show="showThumb && file.isImg"/>
								<input type="image" ng-src="{{file.img}}" ng-hide="showThumb && file.isImg"/>
								<input type="checkbox" ng-show="editing" ng-model="file.checked"/>
								<div ng-show="showFont && !editing" ng-style="font">{{file.name}}</div>
								<span id="tb_cont" ng-show="showFont && editing">
									<input type="text" id="{{'file-'+$index}}" name="q" ng-model="file.name" ng-style="font" style="background: rgba(5, 5, 5, .2);"><span id="clear_input" ng-click='clearName($index, file)' ><img src="img/cleaar.png"/></span></input>
								</span>
							</div>
							<div ng-class="colStyle">
								<input data-toggle="modal" href="#addFiles" type="image" src="img/bw_add_minimini.png" ng-hide="notAdded" id="dnd"/>	
							</div>
							</div>
							<!-- --------------------ROW---------------------------- -->
							<div ng-hide="cols" >
							<ul id="rowStyle">
							<div ng-hide="notAdded" ng-repeat="folder in getFolders(currentFolder)">
								<li ng-Class="rowStyleLi">
								<input type="image" src="img/cleaar.png" ng-click="deleteFolder(folder)" />
								<input type="image" ng-src="{{folder.img}}" ng-click="enter(folder)">
									<input type="checkbox" ng-show="editing" ng-model="folder.checked"/>
									<div ng-show="showFont && !editing" ng-style="font">{{folder.name}}</div>
									<span id="tb_cont" ng-show="showFont && editing">
										<input type="text" id="{{'folder-'+$index}}" name="q" ng-model="folder.name" ng-style="font" style="background: rgba(5, 5, 5, .2);"><span id="clear_input" ng-click='clearName($index, folder)' ><img src="img/cleaar.png"/></span></input>
									</span>
								</input>
								</li>
							</div>
							
							<div ng-hide="notAdded" ng-repeat="file in getFiles(currentFolder)">
								<li ng-Class="rowStyleLi">
								<input type="image" src="img/cleaar.png" ng-click="deleteFile(file)" />
								<input type="image" class="imageThumb" ng-src="{{file.data}}" ng-show="showThumb && file.isImg"/>
								<input type="image" ng-src="{{file.img}}" ng-hide="showThumb && file.isImg"/>
								<input type="checkbox" ng-show="editing" ng-model="file.checked"/>
								<div ng-show="showFont && !editing" ng-style="font">{{file.name}}</div>
								<span id="tb_cont" ng-show="showFont && editing">
									<input type="text" id="{{'file-'+$index}}" name="q" ng-model="file.name" ng-style="font" style="background: rgba(5, 5, 5, .2);"><span id="clear_input" ng-click='clearName($index, file)' ><img src="img/cleaar.png"/></span></input>
								</span>
								</li>
							</div>
							
							<div>
								<li ng-Class="rowStyleLi">
								<input data-toggle="modal" href="#addFiles" type="image" src="img/bw_add_minimini.png" ng-hide="notAdded" id="dnd"/>	
								</li>
							</div>
							</div>
							</ul>
							
							<!-- ---------------------------------------------------- --->
						</div>
					</div>
				</div>
				<!--*********************************************************************************************************-->
				
				
				<!--************************************** SETTINGS PANEL *****************************************************************-->
				<div class="col-md-4 col-settings">
					<div class="panel panel-default">
						<div class="panel-heading">
							Settings
						</div>
						<!-- Settings body-->
						<div class="panel-body" ng-show="editing">
							<!-- Standard Settings -->
							<div class="firstSetting" ng-hide="underMenu0 || underMenu || underMenu2 || underMenu3 || underMenu4 || underMenu5">
								Scrolling:
								<input type="checkbox" name="scrollingBox" id="scrollingBox" data-on-color="default" data-off-color="default" data-on-text="<span class='glyphicon glyphicon-resize-vertical'></span>" data-off-text="<span class='glyphicon glyphicon-resize-horizontal'></span>">
								<p>
									Views allowed: {{viewsAllowed}} <input type="image" src="img/forward.png" ng-click="viewMenu()"/>
								</p>
								
								<p ng-hide="cols">
								Number of rows:
									<button type="button" class="btn btn-default" ng-click="changeRow(-1)">-</button>
									
									{{nrOfRows}}
									
									<button type="button" class="btn btn-default" ng-click="changeRow(1)">+</button>
								</p>
								<p ng-show="cols">
								Number of cols:
									<button type="button" class="btn btn-default" ng-click="changeCol(-1)">-</button>
									
									{{nrOfCols}}
									
									<button type="button" class="btn btn-default" ng-click="changeCol(1)">+</button>
								</p>
								<hr>
								Change background: <input type="image" src="img/bg_mini.jpg" ng-click="bgMenu()"></input>
								<hr>
								<div class="folderSettings">
										<p>Number of folders:
											<button type="button" class="btn btn-default" ng-click="minusFolder()">-</button>
											
											{{nrOfFolders}}
											
											<button type="button" class="btn btn-default" ng-click="addFolders()">+</button>
										</p>
										<p>
											Folder icon: <input type="image" src="img/folder.png" ng-click="folderIconMenu()"></input>
										</p>
										
										<p>
											File icon: <input type="image" src="img/file.png" ng-click="fileIconMenu()"></input>
										</p>
										
										<p>
										Show Thumbnails:
											<input type="checkbox" name="showThumb" id="showThumb" data-on-color="default" data-off-color="default">
										</p>
										<p>
										Show Folder names:
											<input type="checkbox" name="showFolderName" id="showFolderName" data-on-color="default" data-off-color="default">
										</p>
										<!-- FONT SETTINGS -->
										<div class="fontSettings" ng-show="showFont">
											Font size:
											<button type="button" class="btn btn-default" ng-click="changeFontSize(-1)">-</button>
											
											{{fontSize}}
											
											<button type="button" class="btn btn-default" ng-click="changeFontSize(1)">+</button>
											
											<p>
											Font: {{fontText}} <input type="image" src="img/forward.png" ng-click="fontMenu()"/>
											</p>
											
											<p>
											Font Color: {{fontColor}} <input type="image" src="img/forward.png" ng-click="fontColorMenu()"/>
											</p>
										</div>
										<!-- ----------- -->
										<hr>
								</div>
							</div>
							<!-- ----------------------- -->
							
							<!----------------- Views allowed ----------------->
							<div class="viewsAllowed" ng-show="underMenu0">
								<p>Views allowed</p>
								<ul>
									<li><input type="radio" ng-model="viewsAllowed" ng-click="applyViews()" value="Grid & List"> Grid & List</input></li>
									<li><input type="radio" ng-model="viewsAllowed" ng-click="applyViews()" value="Grid"> Grid</input></li>
									<li><input type="radio" ng-model="viewsAllowed" ng-click="applyViews()" value="List"> List</input></li>
								</ul>
							</div>
							<!-- ------------------------------------------- -->
							
							<!-- Background settings -->
							<div class="chooseBg" ng-show="underMenu">
								<p>Change background</p>
								<ul>
									<li><input type="image" src="img/bg_mini.jpg" ng-click="changeBg(1)">Standard</input></li>
									
									<li><input type="image" src="img/bw_sand.jpg" ng-click="changeBg(2)">Relaxing Sand</input></li>
									
									<li><input type="image" src="img/bw_sunset.jpg" ng-click="changeBg(3)">Green Sunset</input></li>
									
									<li><input type="image" src="img/bw_sky.jpg" ng-click="changeBg(44)">Amazing Sky</input></li>
								</ul>
							</div>
							<!-- --------------------- -->
							
							<!-- Folder icon settings -->
							<div class="chooseFolderIcon" ng-show="underMenu2">
								<p>Folder icon</p>
								<ul>
									<li><input type="image" src="img/folder.png" ng-click="changeFolderIcon(1)">Standard</input></li>
									<li><input type="image" src="img/picFolder.png" ng-click="changeFolderIcon(2)">Picture Folder</input></li>
									<li><input type="image" src="img/musicFolder.png" ng-click="changeFolderIcon(3)">Music Folder</input></li>
								</ul>
							</div>
							<!-- --------------------- -->
							
							<!-- File icon settings -->
							<div class="chooseFileIcon" ng-show="underMenu5">
								<p>File icon</p>
								<ul>
									<li><input type="image" src="img/file.png" ng-click="changeFileIcon(1)">Standard</input></li>
									<li><input type="image" src="img/picFile.png" ng-click="changeFileIcon(2)">Picture File</input></li>
									<li><input type="image" src="img/pdfFile.jpg" ng-click="changeFileIcon(3)">PDF File</input></li>
								</ul>
							</div>
							<!-- --------------------- -->
							
							<!-- Font settings -->
							<div class="chooseFont" ng-show="underMenu3">
								<p>Choose font:</p>
								<ul>
									<li><input type="radio" ng-model="fontText" ng-click="applyFont()" value="Verdana"> Verdana</input></li>
									<li><input type="radio" ng-model="fontText" ng-click="applyFont()" value="Webdings"> Webdings</input></li>
									<li><input type="radio" ng-model="fontText" ng-click="applyFont()" value="Arial">Arial</input></li>
								</ul>
							</div>
							<!-- --------------------- -->
							
							<!-- Font color settings -->
							<div class="chooseFontColor" ng-show="underMenu4">
								<p>Choose font color:</p>
								<ul>
									<li><input type="radio" ng-model="fontColor" ng-click="applyFontColor()" value="blue"> Blue</input></li>
									<li><input type="radio" ng-model="fontColor" ng-click="applyFontColor()" value="white"> White</input></li>
									<li><input type="radio" ng-model="fontColor" ng-click="applyFontColor()" value="red">Red</input></li>
								</ul>
							</div>
							<!-- --------------------- -->
						</div>
						<!-- ------------------ -->
						<div class="panel-footer text-center">
							<button type="button" class="btn btn-default" ng-click="editMode()">{{mode}}</button>
						</div>
					</div>
				</div>
				<!--***********************************************************************************************************************-->
				
				
				<!--************************************** MODALS *************************************************************************-->
				<!-- First add popup -->
				<div class="modal" id="addFiles">
					<div class="modal-dialog">
					  <div class="modal-content text-center">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						  <h4 class="modal-title">ADD</h4>
						</div>
						<div class="modal-body">
							<ul>
								<li><input type="image" src="img/addFolder.jpg" data-dismiss="modal" ng-click="add()">Add Folders</input></li>
								
								<li><input type="image" data-toggle="modal" href="#addDropbox" src="img/dropbox.jpg" data-dismiss="modal" ng-click="add()">Add from Dropbox</input></li>
								
								<li><input type="image" src="img/box_logo.png" data-dismiss="modal">Add from Box</input></li>

								<li><input type="image" src="img/drive.png" data-dismiss="modal">Add from Google Drive</input></li>
								
								<li><div class="image-upload">
								
										<label for="files">
											<img src="img/computer.png"/>
										</label>

										<input type="file" multiple id="files" name="files[]" ng-click="add()"> Add from computer </input>
										
									</div>
								</li>
							</ul>
						</div>
					  </div>
					</div>
				</div>
				<!-- ------------------------------- -->
				
				<!-- Dropbox add popup -->
				<div class="modal" id="addDropbox">
					<div class="modal-dialog">
					  <div class="modal-content text-center">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						  <h4 class="modal-title">ADD FROM DROPBOX</h4>
						</div>
						<div class="modal-body">
							<ul>
								<li><input type="image" src="img/dbFolder.png" data-dismiss="modal" ng-click="addDBFolder('DBFolder1')">DBFolder1</input></li>
								
								<li><input type="image" src="img/dbFolder.png" data-dismiss="modal" ng-click="addDBFolder('DBFolder2')">DBFolder2</input></li>
								
								<li><input type="image" src="img/dbFolder.png" data-dismiss="modal" ng-click="addDBFolder('DBFolder3')">DBFolder3</input></li>
								
								<li><input type="image" src="img/pdf.png" data-dismiss="modal">PDF1</input></li>
								
								<li><input type="image" src="img/pdf.png" data-dismiss="modal">PDF2</input></li>
								
								<li><input type="image" src="img/pdf.png" data-dismiss="modal">PDF3</input></li>

							</ul>
						</div>
					  </div>
					</div>
				</div>
				<!-- ---------------------------- -->
				<!--***********************************************************************************************************************-->
			</div>
			
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="js/node.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.ui.touch-punch.js"></script>
	<script src="js/mockApp.js"></script>
	<script src="js/bootstrap-switch.js"></script>
	<script>
		//$('#openBtn').click(function(){
		//	$('#myModal').modal({show:true})
		//});
				$(function() {
			$( "#resizable" ).resizable({
			  maxHeight: 600,
			  maxWidth: 745,
			  minHeight: 100,
			  minWidth: 140,
			  resize: function( event, ui ) {
				var scope = angular.element($("#ng")).scope()
				scope.updateHeight(ui.size.height);
			  }
			});
		  }); 
		
		//Toggle button for showing folder names
		$("[name='showFolderName']").bootstrapSwitch();
		
		$('#showFolderName').on('switchChange', function (e, data) {
		  var $element = $(data.el),
			  value = data.value;
		  var scope = angular.element($("#ng")).scope();
			scope.$apply(function(){
				scope.showFont = !scope.showFont;
			});
			setTimeout(togglePlaceHolders());
		});
		
		//Toggle button for showing thumbnails
		$("[name='showThumb']").bootstrapSwitch();
		
		$('#showThumb').on('switchChange', function (e, data) {
		  var $element = $(data.el),
			  value = data.value;
		  var scope = angular.element($("#ng")).scope();
			scope.$apply(function(){
				scope.showThumb = !scope.showThumb;
			});		  
		});
		
		
		//Toggle button for horizontal or vertical scrolling
		$("[name='scrollingBox']").bootstrapSwitch();
		
		$('#scrollingBox').on('switchChange', function (e, data) {
			var $element = $(data.el),
			  value = data.value;
			var scope = angular.element($("#ng")).scope();
			scope.$apply(function(){
				scope.cols = !scope.cols;
			});
		});
		
		//Clearing and focusing on text field for folder names
		$('#clear_input').click(function () {
			$('#q').focus();
			$('#q').val('');
		});
	</script>
	<a href='#' ng-click="exportToJson()">test</a>
	</body>
</html>