<!DOCTYPE html>
<html ng-app="mockApp">
<head>
	<title>ExYoob</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-switch.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/css/lightness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/row.css" media="all">
	<link rel="stylesheet" href="css/col.css" media="all">
	<link rel="stylesheet" href="css/style.css" media="all">
	<style>
		html {
			overflow: -moz-scrollbars-vertical; 
			overflow-y: scroll;
		}
	</style>
</head>
<body id="ng" ng-controller="FirstController">
	<div class="container">
		
		<h1>Create your component</h1>
		
		<div class="row">
			
			<!--************************************** LIST VIEW ******************************************************************-->
			<div class="col-md-8" ng-hide="settings.gridMode">
				<div class="panel panel-default">
					<div class="panel-heading">
						<input type="image" src="img/backSmall.png" ng-hide="settings.root" ng-click="goBack()"/>   {{settings.dir}}
						<input class="gridButton" type="image" src="img/grid.jpg" ng-show="settings.allAllowed" ng-click="changeView()"/>
					</div>
					<div class="panel-body contentpanel2">
						<div class="col-md-4" >
							<div ng-hide="settings.notAdded" ng-repeat="folder in getFolders(settings.currentFolder)">
								<input type="image" src="img/folderList.png" ng-click="enter(folder)">
									{{folder.name}}
								</input>
							</div>
							<div ng-hide="settings.notAdded" ng-repeat="file in getFiles(settings.currentFolder)">
								<input type="image" src="img/fileList.png" ng-click="showListPreview(file)">
									{{file.name}}
								</input>
							</div>
							<input data-toggle="modal" href="#addFiles" type="image" src="img/bw_add_minimini.png" ng-hide="settings.notAdded"/>
						</div>
						<div class="col-md-8" id="previewDiv">
							<canvas class="text-center" id="preview">
							</canvas>
						</div>
					</div>
					
				</div>
			</div>
			<!--******************************************************************************************************************-->
			
			<!--************************************** GRID VIEW *****************************************************************-->
			<div class="col-md-8" ng-show="settings.gridMode">
				<div class="panel panel-default">
					<div class="panel-heading">
						<input type="image" src="img/backSmall.png" ng-hide="settings.root" ng-click="goBack()"/>   {{settings.dir}}
						<input class="gridButton" type="image" src="img/list.png" ng-show="settings.allAllowed" ng-click="changeView()"/>
					</div>
					<div id="resizable">
					<div class="panel-body text-center contentpanel2" ng-style="settings.bgImage">
						<!-- ----------------Content Body-------------------------  -->
						<input data-toggle="modal" href="#addFiles" type="image" src="img/bw_add.png" ng-show="settings.notAdded"/>
						<!-- --------------------COLUMN---------------------------- -->
						<div ng-show="settings.cols">
						<div ng-class="settings.colStyle" ng-hide="settings.notAdded" ng-repeat="folder in getFolders(settings.currentFolder)">
							<input type="image" ng-show="settings.editing" src="img/cleaar.png" ng-click="deleteFolder(folder)" />
							<input type="image" ng-src="{{folder.img}}" ng-click="enter(folder)"/>
							<input type="checkbox" ng-show="settings.editing" ng-model="folder.checked"/>
							<div ng-show="settings.showFont && !settings.editing" ng-style="settings.font">{{folder.name}}</div>
							<div ng-show="settings.showFont && settings.editing" class="nameField">
								<input type="text" id="{{'folder-'+$index}}" name="q" ng-model="folder.name" ng-style="settings.font" style="background: rgba(5, 5, 5, .2);"/>	
								<img class="clearName"src="img/cleaar.png" ng-click='clearName($index, folder)'/>								
							</div>								
						</div>
						
						<div ng-class="settings.colStyle" ng-hide="settings.notAdded" ng-repeat="file in getFiles(settings.currentFolder)">
							<input type="image" ng-show="settings.editing" src="img/cleaar.png" ng-click="deleteFile(file)" />
							<input type="image" class="imageThumb" ng-src="{{file.data}}" ng-show="settings.showThumb && file.isImg"/>
							<input type="image" ng-src="{{file.img}}" ng-hide="settings.showThumb && file.isImg"/>
							<input type="checkbox" ng-show="settings.editing" ng-model="file.checked"/>
							<div ng-show="settings.showFont && !settings.editing" ng-style="settings.font">{{file.name}}</div>
							<div ng-show="settings.showFont && settings.editing" class="nameField">
								<input type="text" id="{{'file-'+$index}}" name="q" ng-model="file.name" ng-style="settings.font" style="background: rgba(5, 5, 5, .2);"/>
								<img class="clearName"src="img/cleaar.png" ng-click='clearName($index, file)'/>	
							</div>
						</div>
						<div ng-class="settings.colStyle">
							<input data-toggle="modal" href="#addFiles" type="image" src="img/bw_add_minimini.png" ng-hide="settings.notAdded" id="dnd"/>
						</div>
						</div>
						<!-- --------------------ROW---------------------------- -->
						<div ng-hide="settings.cols" >
						<ul id="rowStyle">
						<div ng-hide="settings.notAdded" ng-repeat="folder in getFolders(settings.currentFolder)">
							<li ng-Class="settings.rowStyleLi">
								<input type="image" ng-show="settings.editing" src="img/cleaar.png" ng-click="deleteFolder(folder)" />
								<input type="image" ng-src="{{folder.img}}" ng-click="enter(folder)"/>
								<input type="checkbox" ng-show="settings.editing" ng-model="folder.checked"/>
								<div ng-show="settings.showFont && !settings.editing" ng-style="settings.font">{{folder.name}}</div>
								<div ng-show="settings.showFont && settings.editing" class="nameField">
									<input type="text" id="{{'folder-'+$index}}" name="q" ng-model="folder.name" ng-style="settings.font" style="background: rgba(5, 5, 5, .2);"/>	
									<img class="clearName"src="img/cleaar.png" ng-click='clearName($index, folder)'/>								
								</div>
							</li>
						</div>
						
						<div ng-hide="settings.notAdded" ng-repeat="file in getFiles(settings.currentFolder)">
							<li ng-Class="settings.rowStyleLi">
								<input type="image" ng-show="settings.editing" src="img/cleaar.png" ng-click="deleteFile(file)" />
								<input type="image" class="imageThumb" ng-src="{{file.data}}" ng-show="settings.showThumb && file.isImg"/>
								<input type="image" ng-src="{{file.img}}" ng-hide="settings.showThumb && file.isImg"/>
								<input type="checkbox" ng-show="settings.editing" ng-model="file.checked"/>
								<div ng-show="settings.showFont && !settings.editing" ng-style="settings.font">{{file.name}}</div>
								<div ng-show="settings.showFont && settings.editing" class="nameField">
									<input type="text" id="{{'file-'+$index}}" name="q" ng-model="file.name" ng-style="settings.font" style="background: rgba(5, 5, 5, .2);"/>
									<img class="clearName"src="img/cleaar.png" ng-click='clearName($index, file)'/>	
								</div>
							</li>
						</div>
						
						<div>
							<li ng-Class="settings.rowStyleLi">
							<input data-toggle="modal" href="#addFiles" type="image" src="img/bw_add_minimini.png" ng-hide="settings.notAdded" id="dnd"/>	
							</li>
						</div>
						</div>
						</ul>
						
						<!-- ---------------------------------------------------- --->
					</div>
					</div>
				</div>
			</div>
			<!--*********************************************************************************************************-->
			
			
			<!--************************************** SETTINGS PANEL *****************************************************************-->
			<div class="col-md-4 col-settings">
				<div class="panel panel-default">
					<div class="panel-heading">
						Settings
					</div>
					<!-- Settings body-->
					<div class="panel-body" ng-show="settings.editing">
						<!-- Standard Settings -->
						<div class="firstSetting" ng-hide="settings.underMenu0 || settings.underMenu || settings.underMenu2 || settings.underMenu3 || settings.underMenu4 || settings.underMenu5">
							Scrolling:
							<input type="checkbox" name="scrollingBox" id="scrollingBox" data-on-color="default" data-off-color="default" data-on-text="<span class='glyphicon glyphicon-resize-vertical'></span>" data-off-text="<span class='glyphicon glyphicon-resize-horizontal'></span>">
							<p>
								Views allowed: {{settings.viewsAllowed}} <input type="image" src="img/forward.png" ng-click="viewMenu()"/>
							</p>
							
							<p ng-hide="settings.cols">
							Number of rows:
								<button type="button" class="btn btn-default" ng-click="changeRow(-1)">-</button>
								
								{{settings.nrOfRows}}
								
								<button type="button" class="btn btn-default" ng-click="changeRow(1)">+</button>
							</p>
							<p ng-show="settings.cols">
							Number of cols:
								<button type="button" class="btn btn-default" ng-click="changeCol(-1)">-</button>
								
								{{settings.nrOfCols}}
								
								<button type="button" class="btn btn-default" ng-click="changeCol(1)">+</button>
							</p>
							<hr>
							Change background: <input type="image" src="img/bg_mini.jpg" ng-click="bgMenu()"></input>
							<hr>
							<div class="folderSettings">
									<p>Number of folders:
										<button type="button" class="btn btn-default" ng-click="minusFolder()">-</button>
										
										{{settings.nrOfFolders}}
										
										<button type="button" class="btn btn-default" ng-click="addFolders()">+</button>
									</p>
									<p>
										Folder icon: <input type="image" src="img/folder.png" ng-click="folderIconMenu()"></input>
									</p>
									
									<p>
										File icon: <input type="image" src="img/file.png" ng-click="fileIconMenu()"></input>
									</p>
									
									<p>
									Show Thumbnails:
										<input type="checkbox" name="showThumb" id="showThumb" data-on-color="default" data-off-color="default">
									</p>
									<p>
									Show Folder names:
										<input type="checkbox" name="showFolderName" id="showFolderName" data-on-color="default" data-off-color="default">
									</p>
									<!-- FONT SETTINGS -->
									<div class="fontSettings" ng-show="settings.showFont">
										Font size:
										<button type="button" class="btn btn-default" ng-click="changeFontSize(-1)">-</button>
										
										{{settings.fontSize}}
										
										<button type="button" class="btn btn-default" ng-click="changeFontSize(1)">+</button>
										
										<p>
										Font: {{settings.fontText}} <input type="image" src="img/forward.png" ng-click="fontMenu()"/>
										</p>
										
										<p>
										Font Color: {{settings.fontColor}} <input type="image" src="img/forward.png" ng-click="fontColorMenu()"/>
										</p>
									</div>
									<!-- ----------- -->
									<hr>
							</div>
						</div>
						<!-- ----------------------- -->
						
						<!----------------- Views allowed ----------------->
						<div class="viewsAllowed" ng-show="settings.underMenu0">
							<p>Views allowed</p>
							<ul>
								<li><input type="radio" ng-model="settings.viewsAllowed" ng-click="applyViews()" value="Grid & List"> Grid & List</input></li>
								<li><input type="radio" ng-model="settings.viewsAllowed" ng-click="applyViews()" value="Grid"> Grid</input></li>
								<li><input type="radio" ng-model="settings.viewsAllowed" ng-click="applyViews()" value="List"> List</input></li>
							</ul>
						</div>
						<!-- ------------------------------------------- -->
						
						<!-- Background settings -->
						<div class="chooseBg" ng-show="settings.underMenu">
							<p>Change background</p>
							<ul>
								<li><input type="image" src="img/bg_mini.jpg" ng-click="changeBg(1)">Standard</input></li>
								
								<li><input type="image" src="img/bw_sand.jpg" ng-click="changeBg(2)">Relaxing Sand</input></li>
								
								<li><input type="image" src="img/bw_sunset.jpg" ng-click="changeBg(3)">Green Sunset</input></li>
								
								<li><input type="image" src="img/bw_sky.jpg" ng-click="changeBg(44)">Amazing Sky</input></li>
							</ul>
						</div>
						<!-- --------------------- -->
						
						<!-- Folder icon settings -->
						<div class="chooseFolderIcon" ng-show="settings.underMenu2">
							<p>Folder icon</p>
							<ul>
								<li><input type="image" src="img/folder.png" ng-click="changeFolderIcon(1)">Standard</input></li>
								<li><input type="image" src="img/picFolder.png" ng-click="changeFolderIcon(2)">Picture Folder</input></li>
								<li><input type="image" src="img/musicFolder.png" ng-click="changeFolderIcon(3)">Music Folder</input></li>
							</ul>
						</div>
						<!-- --------------------- -->
						
						<!-- File icon settings -->
						<div class="chooseFileIcon" ng-show="settings.underMenu5">
							<p>File icon</p>
							<ul>
								<li><input type="image" src="img/file.png" ng-click="changeFileIcon(1)">Standard</input></li>
								<li><input type="image" src="img/picFile.png" ng-click="changeFileIcon(2)">Picture File</input></li>
								<li><input type="image" src="img/pdfFile.jpg" ng-click="changeFileIcon(3)">PDF File</input></li>
							</ul>
						</div>
						<!-- --------------------- -->
						
						<!-- Font settings -->
						<div class="chooseFont" ng-show="settings.underMenu3">
							<p>Choose font:</p>
							<ul>
								<li><input type="radio" ng-model="settings.fontText" ng-click="applyFont()" value="Verdana"> Verdana</input></li>
								<li><input type="radio" ng-model="settings.fontText" ng-click="applyFont()" value="Webdings"> Webdings</input></li>
								<li><input type="radio" ng-model="settings.fontText" ng-click="applyFont()" value="Arial">Arial</input></li>
							</ul>
						</div>
						<!-- --------------------- -->
						
						<!-- Font color settings -->
						<div class="chooseFontColor" ng-show="settings.underMenu4">
							<p>Choose font color:</p>
							<ul>
								<li><input type="radio" ng-model="settings.fontColor" ng-click="applyFontColor()" value="blue"> Blue</input></li>
								<li><input type="radio" ng-model="settings.fontColor" ng-click="applyFontColor()" value="white"> White</input></li>
								<li><input type="radio" ng-model="settings.fontColor" ng-click="applyFontColor()" value="red">Red</input></li>
							</ul>
						</div>
						<!-- --------------------- -->
					</div>
					<!-- ------------------ -->
					<div class="panel-footer text-center">
						<button type="button" class="btn btn-default" ng-click="editMode()">{{settings.mode}}</button>
					</div>
				</div>
			</div>
			<!--***********************************************************************************************************************-->
			
			
			<!--************************************** MODALS *************************************************************************-->
			<!-- First add popup -->
			<div class="modal" id="addFiles">
				<div class="modal-dialog">
				  <div class="modal-content text-center">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  <h4 class="modal-title">ADD</h4>
					</div>
					<div class="modal-body">
						<ul>
							<li><input type="image" src="img/addFolder.jpg" data-dismiss="modal" ng-click="add()">Add Folders</input></li>
							
							<li><input type="image" data-toggle="modal" href="#addDropbox" src="img/dropbox.jpg" data-dismiss="modal" ng-click="add()">Add from Dropbox</input></li>
							
							<li><input type="image" src="img/box_logo.png" data-dismiss="modal">Add from Box</input></li>

							<li><input type="image" src="img/drive.png" data-dismiss="modal">Add from Google Drive</input></li>
							
							<li><div class="image-upload">
							
									<label for="files">
										<img src="img/computer.png"/>
									</label>

									<input type="file" multiple id="files" name="files[]" ng-click="add()"> Add from computer </input>
									
								</div>
							</li>
						</ul>
					</div>
				  </div>
				</div>
			</div>
			<!-- ------------------------------- -->
			
			<!-- Dropbox add popup -->
			<div class="modal" id="addDropbox">
				<div class="modal-dialog">
				  <div class="modal-content text-center">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  <h4 class="modal-title">ADD FROM DROPBOX</h4>
					</div>
					<div class="modal-body">
						<ul>
							<li><input type="image" src="img/dbFolder.png" data-dismiss="modal" ng-click="addDBFolder('DBFolder1')">DBFolder1</input></li>
							
							<li><input type="image" src="img/dbFolder.png" data-dismiss="modal" ng-click="addDBFolder('DBFolder2')">DBFolder2</input></li>
							
							<li><input type="image" src="img/dbFolder.png" data-dismiss="modal" ng-click="addDBFolder('DBFolder3')">DBFolder3</input></li>
							
							<li><input type="image" src="img/pdf.png" data-dismiss="modal">PDF1</input></li>
							
							<li><input type="image" src="img/pdf.png" data-dismiss="modal">PDF2</input></li>
							
							<li><input type="image" src="img/pdf.png" data-dismiss="modal">PDF3</input></li>

						</ul>
					</div>
				  </div>
				</div>
			</div>
			<!-- ---------------------------- -->
			<!--***********************************************************************************************************************-->
		</div>
		
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="js/node.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.ui.touch-punch.js"></script>
<script src="js/mockApp.js"></script>
<script src="js/studioCtrl.js"></script>
<script src="js/bootstrap-switch.js"></script>
<script>
	$(function() {
		$( "#resizable" ).resizable({
		  maxHeight: 600,
		  maxWidth: 748,
		  minHeight: 100,
		  minWidth: 140,
		  alsoResize: '.contentpanel2',
		  resize: function( event, ui ) {
			var scope = angular.element($("#ng")).scope()
			scope.updateHeight(ui.size.height);
			scope.saveNewSize(ui.size.width, ui.size.height);
		  }
		});
	}); 
	
	//Toggle button for showing folder names
	$("[name='showFolderName']").bootstrapSwitch();
	
	$('#showFolderName').on('switchChange', function (e, data) {
	  var $element = $(data.el),
		  value = data.value;
	  var scope = angular.element($("#ng")).scope();
		scope.$apply(function(){
			scope.settings.showFont = !scope.settings.showFont;
		});
		setTimeout(togglePlaceHolders());
	});
	
	//Toggle button for showing thumbnails
	$("[name='showThumb']").bootstrapSwitch();
	
	$('#showThumb').on('switchChange', function (e, data) {
	  var $element = $(data.el),
		  value = data.value;
	  var scope = angular.element($("#ng")).scope();
		scope.$apply(function(){
			scope.settings.showThumb = !scope.settings.showThumb;
		});		  
	});
	
	
	//Toggle button for horizontal or vertical scrolling
	$("[name='scrollingBox']").bootstrapSwitch();
	
	$('#scrollingBox').on('switchChange', function (e, data) {
		var $element = $(data.el),
		  value = data.value;
		var scope = angular.element($("#ng")).scope();
		scope.$apply(function(){
			scope.settings.cols = !scope.settings.cols;
			scope.changeScrollDir();
		});
	});
</script>
<a href='#' ng-click="exportToJson()">test</a>
</body>
</html>